<a href="https://colab.research.google.com/github/dorbenit/Academic-Projects/blob/main/grand_slam_2010_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

path = "/content/drive/MyDrive/data_base/grand_slam_2010_2024.csv"
df = pd.read_csv(path)
df.head()

unique_levels = df['tourney_level'].dropna().unique()

# הצגת הסיווגים
print("סיווגי רמות הטורנירים הייחודיים:")
for level in unique_levels:
    print(level)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
סיווגי רמות הטורנירים הייחודיים:
G

# First **view**

In [ ]:
print(df.info())
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7493 entries, 0 to 7492
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          7493 non-null   object
 1   tourney_name        7493 non-null   object
 2   surface             7493 non-null   object
 3   draw_size           7493 non-null   int64
 4   tourney_level       7493 non-null   object
 5   tourney_date        7493 non-null   int64
 6   match_num           7493 non-null   int64
 7   winner_id           7493 non-null   int64
 8   winner_seed         4263 non-null   float64
 9   winner_entry        660 non-null    object
 10  winner_name         7493 non-null   object
 11  winner_hand         7493 non-null   object
 12  winner_ht           7493 non-null   float64
 13  winner_ioc          7493 non-null   object
 14  winner_age          7493 non-null   float64
 15  loser_id            7493 non-null   int64
 16  loser_seed          1813 non-null   float64
 17  loser_entry         1367 non-null   object
 18  loser_name          7493 non-null   object
 19  loser_hand          7493 non-null   object
 20  loser_ht            7487 non-null   float64
 21  loser_ioc           7493 non-null   object
 22  loser_age           7493 non-null   float64
 23  score               7493 non-null   object
 24  best_of             7493 non-null   int64
 25  round               7493 non-null   object
 26  minutes             6970 non-null   float64
 27  w_ace               7461 non-null   float64
 28  w_df                7461 non-null   float64
 29  w_svpt              7461 non-null   float64
 30  w_1stIn             7461 non-null   float64
 31  w_1stWon            7461 non-null   float64
 32  w_2ndWon            7461 non-null   float64
 33  w_SvGms             7462 non-null   float64
 34  w_bpSaved           7461 non-null   float64
 35  w_bpFaced           7461 non-null   float64
 36  l_ace               7461 non-null   float64
 37  l_df                7461 non-null   float64
 38  l_svpt              7461 non-null   float64
 39  l_1stIn             7461 non-null   float64
 40  l_1stWon            7461 non-null   float64
 41  l_2ndWon            7461 non-null   float64
 42  l_SvGms             7462 non-null   float64
 43  l_bpSaved           7461 non-null   float64
 44  l_bpFaced           7461 non-null   float64
 45  winner_rank         7491 non-null   float64
 46  winner_rank_points  7491 non-null   float64
 47  loser_rank          7477 non-null   float64
 48  loser_rank_points   7477 non-null   float64
 49  season              7493 non-null   int64
dtypes: float64(29), int64(7), object(14)
memory usage: 2.9+ MB
None

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,loser_id,loser_seed,loser_ht,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,season
count,7493.0,7.493000e+03,7493.000000,7493.000000,4263.000000,7493.000000,7493.000000,7493.000000,1813.000000,7487.000000,...,7461.000000,7461.000000,7462.000000,7461.000000,7461.000000,7491.000000,7491.000000,7477.000000,7477.000000,7493.000000
mean,128.0,2.017003e+07,162.312959,115633.951688,12.695754,187.654211,27.392193,115428.245429,16.993381,186.394684,...,47.069830,20.749363,17.477486,6.718670,11.919180,47.018556,2626.757042,86.910526,1169.031697,2016.949153
std,0.0,4.340535e+04,210.140395,27430.762553,9.275141,7.048560,4.106209,26950.048073,9.067381,6.991032,...,17.582363,8.431520,4.924816,3.721225,4.539494,59.489926,2910.489820,92.957543,1400.327967,4.339405
min,128.0,2.010012e+07,1.000000,100644.000000,1.000000,168.000000,17.200000,100644.000000,1.000000,168.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,1.000000,1.000000,2010.000000
25%,128.0,2.013062e+07,79.000000,104545.000000,4.000000,183.000000,24.400000,104545.000000,9.000000,183.000000,...,34.000000,15.000000,14.000000,4.000000,9.000000,10.000000,795.000000,36.000000,545.000000,2013.000000
50%,128.0,2.017053e+07,124.000000,105137.000000,11.000000,188.000000,27.200000,105311.000000,17.000000,185.000000,...,45.000000,20.000000,17.000000,6.000000,11.000000,28.000000,1420.000000,69.000000,766.000000,2017.000000
75%,128.0,2.021053e+07,180.000000,106378.000000,20.000000,193.000000,30.100000,106362.000000,25.000000,191.000000,...,58.000000,26.000000,21.000000,9.000000,15.000000,66.000000,3157.500000,106.000000,1200.000000,2021.000000
max,128.0,2.024083e+07,1701.000000,210506.000000,33.000000,211.000000,40.800000,212733.000000,33.000000,211.000000,...,284.000000,101.000000,91.000000,27.000000,35.000000,1098.000000,16950.000000,1848.000000,16950.000000,2024.000000

# **Checking missing values**

In [ ]:

(df == '').sum().sort_values(ascending=False).head(10)
df.apply(lambda col: col.astype(str).str.lower().isin(['na', 'n/a', 'nan', '?'])).sum().sort_values(ascending=False).head(10)
df.apply(lambda col: col.astype(str).str.strip() == '').sum().sort_values(ascending=False).head(10)
df.nunique().sort_values().head(28)
(df.isnull().mean() * 100).sort_values(ascending=False).head(29)

winner_entry          91.191779
loser_entry           81.756306
loser_seed            75.804084
winner_seed           43.106900
minutes                6.979848
l_ace                  0.427065
l_svpt                 0.427065
l_1stIn                0.427065
l_1stWon               0.427065
l_df                   0.427065
l_bpSaved              0.427065
w_1stIn                0.427065
w_df                   0.427065
w_ace                  0.427065
w_2ndWon               0.427065
w_1stWon               0.427065
w_svpt                 0.427065
l_2ndWon               0.427065
l_bpFaced              0.427065
w_bpSaved              0.427065
w_bpFaced              0.427065
w_SvGms                0.413719
l_SvGms                0.413719
loser_rank             0.213533
loser_rank_points      0.213533
loser_ht               0.080075
winner_rank_points     0.026692
winner_rank            0.026692
draw_size              0.000000
dtype: float64

# **Cleaning**

In [ ]:

columns_to_drop = ['winner_entry', 'loser_entry', 'loser_seed', 'winner_seed']
df_clean = df.drop(columns=columns_to_drop)

In [ ]:
columns_to_fill = [
    'minutes', 'l_ace', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_df', 'l_bpSaved',
    'w_1stIn', 'w_df', 'w_ace', 'w_2ndWon', 'w_1stWon', 'w_svpt',
    'l_2ndWon', 'l_bpFaced', 'w_bpSaved', 'w_bpFaced',
    'w_SvGms', 'l_SvGms',
    'loser_rank', 'loser_rank_points', 'loser_ht',
    'winner_rank', 'winner_rank_points'
]
print(df[columns_to_fill].dtypes[df[columns_to_fill].dtypes == 'object'])
for col in columns_to_fill:
    median_value = df_clean[col].median()
    df_clean[col].fillna(median_value, inplace=True)
df_clean.isnull().sum().sort_values(ascending=False).head(29)

Series([], dtype: object)

<ipython-input-6-12f79f8632d5>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean[col].fillna(median_value, inplace=True)

tourney_id       0
tourney_name     0
surface          0
draw_size        0
tourney_level    0
tourney_date     0
match_num        0
winner_id        0
winner_name      0
winner_hand      0
winner_ht        0
winner_ioc       0
winner_age       0
loser_id         0
loser_name       0
loser_hand       0
loser_ht         0
loser_ioc        0
loser_age        0
score            0
best_of          0
round            0
minutes          0
w_ace            0
w_df             0
w_svpt           0
w_1stIn          0
w_1stWon         0
w_2ndWon         0
dtype: int64

# **Finding Semi Final players**

In [ ]:
def create_sf_label_and_merge(df, min_year=2010, max_year=2024):
    """
    Adds binary labels to the main DataFrame indicating whether each player
    (winner and loser) has ever reached a Grand Slam semi-final between given years.

    Parameters:
    - df (pd.DataFrame): Grand Slam match data (cleaned)
    - min_year (int): Lower year bound (inclusive)
    - max_year (int): Upper year bound (inclusive)

    Returns:
    - pd.DataFrame: DataFrame with two new columns: 'winner_reached_sf', 'loser_reached_sf'
    """

    # Filter SF matches
    sf_matches = df[
        (df['round'] == 'SF') &
        (df['season'] >= min_year) &
        (df['season'] <= max_year)
    ]

    # Get all unique player IDs who reached SF
    sf_players = pd.unique(pd.concat([sf_matches['winner_id'], sf_matches['loser_id']]))

    # Create label DataFrame for all players
    all_players = pd.unique(df[['winner_id', 'loser_id']].values.ravel())
    label_df = pd.DataFrame({'player_id': all_players})
    label_df['reached_sf'] = label_df['player_id'].isin(sf_players).astype(int)

    # Merge labels into df
    df = df.merge(
        label_df.rename(columns={'player_id': 'winner_id', 'reached_sf': 'winner_reached_sf'}),
        on='winner_id', how='left'
    )
    df = df.merge(
        label_df.rename(columns={'player_id': 'loser_id', 'reached_sf': 'loser_reached_sf'}),
        on='loser_id', how='left'
    )

    # Debug output
    print(f"✅ Total players who reached Grand Slam SF: {len(sf_players)}")
    print("🔹 Example player IDs:", sf_players[:10])

    return df
df_clean = create_sf_label_and_merge(df_clean)

✅ Total players who reached Grand Slam SF: 51
🔹 Example player IDs: [103819 104918 104417 104745 104607 104925 103970 104527 105453 105227]

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7493 entries, 0 to 7492
Data columns (total 48 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          7493 non-null   object
 1   tourney_name        7493 non-null   object
 2   surface             7493 non-null   object
 3   draw_size           7493 non-null   int64
 4   tourney_level       7493 non-null   object
 5   tourney_date        7493 non-null   int64
 6   match_num           7493 non-null   int64
 7   winner_id           7493 non-null   int64
 8   winner_name         7493 non-null   object
 9   winner_hand         7493 non-null   object
 10  winner_ht           7493 non-null   float64
 11  winner_ioc          7493 non-null   object
 12  winner_age          7493 non-null   float64
 13  loser_id            7493 non-null   int64
 14  loser_name          7493 non-null   object
 15  loser_hand          7493 non-null   object
 16  loser_ht            7493 non-null   float64
 17  loser_ioc           7493 non-null   object
 18  loser_age           7493 non-null   float64
 19  score               7493 non-null   object
 20  best_of             7493 non-null   int64
 21  round               7493 non-null   object
 22  minutes             7493 non-null   float64
 23  w_ace               7493 non-null   float64
 24  w_df                7493 non-null   float64
 25  w_svpt              7493 non-null   float64
 26  w_1stIn             7493 non-null   float64
 27  w_1stWon            7493 non-null   float64
 28  w_2ndWon            7493 non-null   float64
 29  w_SvGms             7493 non-null   float64
 30  w_bpSaved           7493 non-null   float64
 31  w_bpFaced           7493 non-null   float64
 32  l_ace               7493 non-null   float64
 33  l_df                7493 non-null   float64
 34  l_svpt              7493 non-null   float64
 35  l_1stIn             7493 non-null   float64
 36  l_1stWon            7493 non-null   float64
 37  l_2ndWon            7493 non-null   float64
 38  l_SvGms             7493 non-null   float64
 39  l_bpSaved           7493 non-null   float64
 40  l_bpFaced           7493 non-null   float64
 41  winner_rank         7493 non-null   float64
 42  winner_rank_points  7493 non-null   float64
 43  loser_rank          7493 non-null   float64
 44  loser_rank_points   7493 non-null   float64
 45  season              7493 non-null   int64
 46  winner_reached_sf   7493 non-null   int64
 47  loser_reached_sf    7493 non-null   int64
dtypes: float64(27), int64(9), object(12)
memory usage: 2.7+ MB


# Making sure these are the real semi-**finalists**

In [ ]:
winner_sf_names = df_clean[df_clean['winner_reached_sf'] == 1][['winner_id', 'winner_name']]
winner_sf_names.columns = ['player_id', 'name']

loser_sf_names = df_clean[df_clean['loser_reached_sf'] == 1][['loser_id', 'loser_name']]
loser_sf_names.columns = ['player_id', 'name']


sf_names = pd.concat([winner_sf_names, loser_sf_names]).drop_duplicates().sort_values('name').reset_index(drop=True)


print(sf_names)

    player_id                   name
0      100644       Alexander Zverev
1      104918            Andy Murray
2      106234         Aslan Karatsev
3      210097            Ben Shelton
4      111815         Cameron Norrie
5      207989         Carlos Alcaraz
6      134770            Casper Ruud
7      106421        Daniil Medvedev
8      103970           David Ferrer
9      133430       Denis Shapovalov
10     106043      Diego Schwartzman
11     106233          Dominic Thiem
12     105208         Ernests Gulbis
13     200000  Felix Auger Aliassime
14     126207         Frances Tiafoe
15     104792           Gael Monfils
16     105777        Grigor Dimitrov
17     128034         Hubert Hurkacz
18     111202            Hyeon Chung
19     207733            Jack Draper
20     206173          Jannik Sinner
21     105668         Jerzy Janowicz
22     104542     Jo-Wilfried Tsonga
23     104545             John Isner
24     105223  Juan Martin del Potro
25     103781          Jurgen Melzer
26     111575        Karen Khachanov
27     105453          Kei Nishikori
28     104731         Kevin Anderson
29     106378            Kyle Edmund
30     207518        Lorenzo Musetti
31     106298          Lucas Pouille
32     106065       Marco Cecchinato
33     105227            Marin Cilic
34     126610      Matteo Berrettini
35     104022        Mikhail Youzhny
36     105683           Milos Raonic
37     106401           Nick Kyrgios
38     104925         Novak Djokovic
39     105807    Pablo Carreno Busta
40     104745           Rafael Nadal
41     104755        Richard Gasquet
42     105138  Roberto Bautista Agut
43     104417        Robin Soderling
44     103819          Roger Federer
45     105023            Sam Querrey
46     104527          Stan Wawrinka
47     126774     Stefanos Tsitsipas
48     126203           Taylor Fritz
49     104607          Tomas Berdych
50     126205             Tommy Paul

In [ ]:
print("Winner reached SF count:", df_clean['winner_reached_sf'].sum())
print("Loser reached SF count:", df_clean['loser_reached_sf'].sum())

Winner reached SF count: 3596
Loser reached SF count: 1576

In [ ]:
unique_levels = df['tourney_level'].dropna().unique()
print("סיווגי רמות הטורנירים הייחודיים:")
for level in unique_levels:
    print(level)

סיווגי רמות הטורנירים הייחודיים:
G